#controlBar-container{
    border: 2px solid black;
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    background-color:#3498db;
}

.MuiSlider-root{
    /* color: whitesmoke; */
    color:"black"
}

.MuiTypography-gutterBottom{
    color: black;
}

button{
    background-color: aliceblue;
}

/* .MuiAppBar-root{
    background-color: #3498db;
} */