#main-box {
    /* border: 1px solid black; */
    width: 95vw;
    height: 90vh;
    margin-left: 2.5vw;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(20, 1fr);
    /* align-self: center; */
}

.bar {
    background-color: #3498db;
    border: 1px solid black;
    justify-self: center;
    display: inline-block;
    text-align: center;
}

.bar-size{
    font-style: italic;
    font-weight: bold;
}